{% extends "base.html" %}

{% block 'conteudo' %}

<div class="container">

    <div class="row">
        {% for agendamento in agendamentos %}
        <div class="col-md">
            <br>
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{{agendamento.laboratorio}}</div>
                <div class="card-body">
                  <h6 class="card-title">Professor: {{agendamento.professor}}</h6>
                  <p class="card-text">Data: {{agendamento.data_agendamento}} <br> Horário: {{agendamento.horario_inicio}} - {{agendamento.horario_fim}}</p>
                </div>
                <a href="{% url 'ver_agendamento' agendamento.id %}" class="btn btn-success">Acessar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock  %}